<div class="summary">
    <section class="info round">
      <div class="icon">
        <mat-icon>casino_outlined</mat-icon>
      </div>
      <div class="number">
        <span class="amount">{{roundInfo?.round}}</span>
        <span class="unit">rounds</span>
      </div>
    </section>
    <section class="info last-succ">
      <div class="icon">
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="number">
        <span class="amount">{{roundInfo?.impacts}}</span>
        <span class="unit">impacts</span>
      </div>
    </section>
    <section class="info last-fails">
      <div class="icon">
        <mat-icon>cancel</mat-icon>
      </div>
      <div class="number">
        <span class="amount">{{roundInfo?.wounds}}</span>
        <span class="unit">wounds</span>
      </div>
    </section>
    <section class="info total-info">
      <div class="total">
        <div class="succs">
          <span>{{roundInfo?.totalImpacts}}<mat-icon>check</mat-icon></span>
        </div>
        <div class="fails">
          <span>{{roundInfo?.totalWounds}}<mat-icon>close</mat-icon></span>
        </div>
      </div>
        <div class="unit">total</div>
    </section>
  
  </div>
  
