.fight
    h1
        border-bottom: 3px solid #2B4162
        color: #2B4162
        font-size: 32px
        margin: 0 0 1rem
        padding: 12px 0
        text-align: center
    button
        display: block
        margin: auto
        margin-top: 40px