<div class="fight">
    <h1>Fight!</h1>
    <details>
        <summary>Tips</summary>
        <ul>
            <li>Heroes group with monsters by position (1st, 2nd...)</li>
            <li>Heroes can be drag & drop to change order</li>
            <li>Heroes can have an offensive or deffensive stance</li>
        </ul>
      </details>
    <app-summary [roundInfo]="roundInfo$ | async"></app-summary>
    <app-fight-panel [heroes]="selectedHeroes$ | async" [monsters]="monsters$ | async"></app-fight-panel>
    <button mat-raised-button (click)="fight()">Fight</button>
</div>
