<div class="login">
  <section *ngFor="let element of elements" class="{{element.name}} background">
    <h2> {{element.name}}</h2>
    <mat-icon>{{element.icon}}</mat-icon>
  </section>
</div>
<div class="login-overlay" (click)="selectElement()">
  <section class="credentials">
    <h3>Who are you?</h3>
    <div class="element-selection">
      <mat-icon  *ngFor="let element of elements" [ngClass]="{'active': element === selectedElement}" (click)="selectElement(element)" class="{{element.name}}">{{element.icon}}</mat-icon>
    </div>
    <button mat-raised-button (click)="login()">Let me in</button>
  </section>
</div>
