#select-player
  height: 100%
  display: grid
  grid-template-rows: repeat(2, 1fr)
  grid-template-columns: repeat(2, 1fr)
  .player
    flex: 50%
    display: flex
    justify-content: center
    align-items: center
    .mat-icon
      position: absolute
      height: 300px
      width: 300px
      font-size: 300px
      color: white
      opacity: 0.2
      z-index: 1
      user-select: none
    h2
      text-transform: uppercase
      letter-spacing: 1.57px
    &.player1
      background-color: #A31621
    &.player2
      background-color: #2B4162
    &.player3
      background-color: #558564
    &.player4
      background-color: #DFE0E2
      .mat-icon
        color: gray
    button
      z-index: 2

@media only screen and (max-width: 800px)

  #select-player
    flex-direction: column
