.intro
    box-sizing: border-box
    background-color: #DFE0E2
    height: fit-content
    min-height: 100vh
    padding: 28px
    width: 100%
    > *
        max-width: 1200px
    button

        display: block
        letter-spacing: 1.57px
        margin: 42px auto
        text-transform: uppercase
        

                    