<div class="intro">
    <div class="container">
<h1>Here your adventure begins</h1>
<p>In a distant land of powerful magic and dangerous monsters, various tribes and factions struggled to survive and prosper. Among them a select few discovered the ability to bend reality to their will. They were known as Mages, grouped into four powerful castes, or traditions.</p>
<p>A few days ago, in your small town there was a great commotion, when you awakened to the <strong>Magic</strong>. But the celebrations ended quickly and uneasily. The surrounding dark creatures could also notice the disruption in the spheres and the spike in quintessence concentration.</p>
<p>You were in danger.</p>
<button mat-raised-button>Let's go</button>
<img alt="monsters" src="/assets/imgs/monsters.webp">
</div>
</div>