<div class="conclusion"><h2>Conclusion</h2>
    <section>
        <img src="assets/imgs/city-fire.jpg">
        <p>The city of Phandel burns to the ground, as dark creatures flood it, destroying everything in their path. Screams, blood and death take over the city, on this last night, while high up, in the dark starry sky, a red star shines intensely.</p>
        <p>But all is not lost, for on this darkest night, a wizard rose in the city to protect it, you, and with his magic [color] he kept the monsters at bay long enough to [target]</p>
    </section>
    <h2>Scores</h2>
<section class="scores" *ngIf="listScores$ | async as listScores">
    <mat-card class="player" *ngFor="let player of listScores; let i = index">
        <div class="position">{{i + 1}}</div>
        <div class="name">
            {{player.name}}
            <mat-icon *ngIf="i === 0" class="star">star</mat-icon>
        </div>
        <div class="score">{{player.score}}</div>
        
    </mat-card>
</section>
</div>