<section class="prolog">
    <h1>Here your adventure begins, {{user?.name}}</h1>
    <div class="wake-up">
        <p><strong>Armageddon</strong> is here.</p>
        <p>Reality is a <strong>lie</strong>.</p>
        <p>Open your eyes...</p>
        <p>and... <strong>Wake Up</strong>.</p>
    </div>
    <img alt="monsters" src="/assets/imgs/monsters.png">
    <p>In a distant land of powerful magic and dangerous monsters, various tribes and factions struggled to survive and prosper. Among them, a select few discovered the ability to bend reality to their will. They were known as Mages, grouped into four powerful castes, or traditions.</p>
    <p>A few days ago, in your small town there was a great commotion, when you, <strong>{{user?.name}}</strong>, awakened to the <strong>Magic</strong>. But the celebrations ended quickly and uneasily. The surrounding dark creatures could also notice the disruption in the spheres and the spike in quintessence concentration.</p>
    <p>Everyone in the village was in danger.</p>
    
</section>