
.character
    box-sizing: border-box
    color: white
    height: 124px
    
    margin-bottom: 10px
    padding: 10px 16px
    display: flex
    align-items: center
    user-select: none
    &.hero
      background-color: #2B4162
    &.monster
      background-color: #A31621
    &.dead
      opacity: 0.3
      background-color: black
    &.critical
      opacity: 0.7
      background-color: #ef9a9a
    &.injured
      opacity: 0.8
      background-color: #ffe082
    &.paused
      opacity: 0.6
      background-color: #bbdefb
    .char-options
      display: flex
      flex-direction: column
      button
        opacity: 0.6
        &:hover
          opacity: 0.8
        &.active
          opacity: 1
    app-health
      flex: 1 1 auto

    ::ng-deep .info
      cursor: move
      display: flex
      flex-direction: column
      align-items: center
      .token
        margin-bottom: 5px
      .heals
        position: absolute
        left: 44px
        top: 0
        cursor: pointer
        .heal
          font-size: 28px
          color: #2196f3
          padding: 2px
        .num-of-heals
          position: relative
          top: -12px
          color: #616161
    

@media only screen and (max-width: 1200px)
  .character
    width: 100%
