.select-characters
  align-items: center
  background-color: #DFE0E2
  display: flex
  flex-direction: column
  height: fit-content
  min-height: 100vh
  h1
    background-color: #2B4162
    color: white
    font-size: 32px
    margin: 0
    padding: 12px 0
    text-align: center
    width: 100%
  .display
    max-width: 1200px
  .player
    max-width: 1200px

