<div class="selection">
  <h1>Select your troops</h1>
  <ng-container *ngIf="heroes$ | async as heroes">
    <app-heroes-display (displayHeroe)="onDisplayHeroe($event)" [heroes]="heroes"></app-heroes-display>
    <app-selected-heroe *ngIf="displayedHeroe" (selectHeroe)="onSelectHeroe($event)" [heroe]="displayedHeroe" [selectedHeroes]="selectedHeroes$ | async"></app-selected-heroe>
    <app-selection-display [selectedHeroes]="selectedHeroes$ | async" [selectedPoints]="5"></app-selection-display>
  </ng-container>
</div>
