#display
  align-items: center
  display: flex
  justify-content: center
  margin-bottom: 20px
  .characters
    background-color: #fafafa
    border-radius: 8px
    display: flex
    padding: 12px
    gap: 8px
    flex-wrap: wrap
    justify-content: center
    user-select: none
    .character
      cursor: pointer
      width: 60px
      height: 60px
      opacity: 0.6
      &:hover
        opacity: 0.8
      &.active
        opacity: 1
      img
        width: 60px
        height: 60px
