<section class="last-night">
    <h2>The last night of Phandel</h2>
    <ng-container *ngIf="step===1">
        <p>The creatures arrived at the village at dusk, when the last rays of the sun were still hiding. The guards fended off the first attacks on the palisade, but soon realized they couldn't hold out for long, as a huge horde was beginning to mass outside at the edge of the forest.</p>
        
        
        <p><strong>Phandel</strong>, where you lived, was a small mining town, with about three thousand souls, located on a plain near a hill and a forest, protected by a palisade and defended by the not very extensive or reputable guard, known as the Red Brands, or red capes.</p>
        
        <img alt="Phandel" src="/assets/imgs/phandel.jpg">
        
        <p>You had never been in the presence of <strong>Harbin Wester</strong>, the former manager of the Wester bank, now the mayor of the city, but that night, accompanied by a servant and guarded by two Red Brands, he had appeared on the threshold of the door of your humble house: The guard was outmatched by the creatures, and the different factions did not agree in the decisions to be made. The mayor, trusting your new connection, had decided to leave the most important decisions up to you.</p>
        
        <div class="dialog">
            <figure><img alt="Harbin Wester token" src="/assets/imgs/tokens/harbin.png"></figure>
            <p><mat-icon>format_quote</mat-icon>Look... "Mage"... - he said, narrowing his eyes with an almost contemptuous gesture - you must know that the leaders of the council do not listen to reason, they are not willing to listen to anyone, least of all me... but they will listen a... Mage... What the Red Star say?<mat-icon>format_quote</mat-icon></p>
        </div>
        <p>The mystical <strong>Red Star</strong>. Only the Awake could see it. It was said that it whispered secrets to them, showed the future, revealed the truth. It was said that the Mages came into contact with it with different rituals, but nobody had taught you, what should you do?</p>
        
        <mat-button-toggle-group name="focus" aria-label="Focus" [(ngModel)]="focus">
            <mat-button-toggle *ngFor="let focus of focusOptions; let index = index" value="{{index}}">{{focus.name}}</mat-button-toggle>
        </mat-button-toggle-group>
        
        <app-description *ngIf="focus" [description]="focusOptions[focus].description"></app-description>
        
    </ng-container>


    <ng-container *ngIf="step===2">

        <p *ngIf="focus">{{focusOptions[focus].longDesc}}</p>

        <p>Distant, fleeting and elusive a vision crosses your mind. You concentrate, trying hard not to lose it, when suddenly you find yourself standing on a small hill, all around you you can see dilapidated buildings, as far as the eye can see, burning in blue flames. The wind carries a weak sound, which you cannot hear. You refuse to lose it, and twist reality with your will, so now you can hear the whisper:</p>
        <p><i>"And the last days will come, and the world will plunge into Dukkha, with Athelios in the day sky will marking the arrival. Find the child of the thin blood, kill the Bearer of the Storm, and know those of the silver crown will betray you.</i></p>

        <p>You come back to yourself, still shaken and trembling with the force of the vision, the power of the words. Around you the Inner Council members mill around, their gazes questioning. Illuminating, in the sky, little by little a star of reddish light is covered.</p>

            <p>The monsters begin to break through the defenses, they say. All around you, the leaders of the five factions await for answers.</p>


    </ng-container>

    <ng-container *ngIf="step===3">
        <p>Five factions dominated the continent, and had presence in the Council of Phandel:</p>
        
        <section class="factions">
            <div class="faction" *ngFor="let faction of factions" (click)="selectFaction(faction)" [ngClass]="{'active': faction.active}">
                <img alt="banner" src="/assets/imgs/banners/{{faction.img}}">
                <p>{{faction.name}}</p>
            </div>            
        </section>
        <app-description [description]="selectedFaction.description"></app-description>
        <br><br>
        <p>Should efforts be concentrated on defending or evacuating the city?</p>
        <mat-button-toggle-group name="strategy" aria-label="Strategy" [(ngModel)]="strategy">
            <mat-button-toggle value="defense">Defend</mat-button-toggle>
            <mat-button-toggle value="evacuation">Evacuate</mat-button-toggle>
        </mat-button-toggle-group>
        <br><br>
        <div *ngIf="strategy">
            <p>Which faction should lead the {{strategy}}?</p>
            <mat-button-toggle-group name="factionLead" aria-label="Faction lead" [(ngModel)]="factionLead">
                <mat-button-toggle *ngFor="let faction of factions" value="{{faction.name}}">{{faction.name}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <br><br>
        <div *ngIf="factionLead">
            <p>The creatures were beginning to ravage the city, which faction should stand at the forefront of the defenses?</p>
            <mat-button-toggle-group name="factionLead" aria-label="Faction lead">
                <mat-button-toggle *ngFor="let faction of factions" value="{{faction.name}}" [disabled]="faction.name === factionLead">{{faction.name}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *ngIf="factionLead">
            <p>It was impossible to protect the entire city, one of the districts had to be abandoned to their fate, which one?</p>
            <mat-button-toggle-group name="factionLead" aria-label="Faction lead">
                <mat-button-toggle>Trade district</mat-button-toggle>
                <mat-button-toggle>The Slums</mat-button-toggle>
                <mat-button-toggle>Noble district</mat-button-toggle>
                <mat-button-toggle>Temple district</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </ng-container>
</section>

