.last-night
    display: flex
    flex-direction: column
    align-items: center
    > h2
        font-size: 34px
        letter-spacing: 1.57px
        line-height: 42px
        margin-bottom: 42px
        text-align: center
        text-transform: uppercase
    > img
        height: auto
        margin-bottom: 24px
        width: 100%
    p   
        font-size: 16px
        line-height: 24px
        margin-bottom: 24px
    .dialog
        align-items: center
        display: flex
        figure
            flex: 0 0 140px
            margin: 0
            img
                width: 120px
                height: 120px
    .red-star
        max-height: 200px
        width: auto
    .poem
        margin-bottom: 24px
        p
            margin-bottom: 0
    .focus
        ::ng-deep #mat-button-toggle-2.mat-button-toggle-checked
            background-color: #2B4162
        ::ng-deep #mat-button-toggle-3.mat-button-toggle-checked
            background-color: #8d8d8d
        ::ng-deep #mat-button-toggle-4.mat-button-toggle-checked
            background-color: #A31621
        ::ng-deep #mat-button-toggle-5.mat-button-toggle-checked
            background-color: #0B0F05

    .factions
        gap: 40px
        display: flex
        width: 100%
        .faction
            align-items: center
            display: flex
            flex-direction: column
            flex: 1 1 0
            opacity: 0.4
            img
                width: 100%
                height: auto
                margin-bottom: 24px
            p
                text-align: center
                font-weight: bold
                text-transform: uppercase
            &.active
                opacity: 1
            &:hover
                cursor: pointer
                opacity: 1
       
    app-question
        margin-bottom: 40px

@media (max-width: 1024px)
    .last-night
        .factions
            overflow-x: scroll
            scroll-snap-type: x mandatory
            gap: 10px
            .faction
                flex: 1 0 100%
                scroll-snap-align: center
                img
                    width: 50%
        
                    