<section class="last-night">
    <h2>The last night of Phandel</h2>
    <ng-container *ngIf="step===1">
        <p>The creatures arrived at the village at dusk, when the last rays of the sun were still hiding. The guards fended off the first attacks on the palisade, but soon realized they couldn't hold out for long, as a huge horde was beginning to mass outside at the edge of the forest.</p>
        
        
        <p><strong>Phandel</strong>, where you lived, was a small mining town, with about three thousand souls, located on a plain near a hill and a forest, protected by a palisade and defended by the not very extensive or reputable guard, known as the Red Brands, or red capes.</p>
        
        <img alt="Phandel" src="/assets/imgs/phandel.jpg">
        
        <p>You had never been in the presence of <strong>Harbin Wester</strong>, the former manager of the Wester bank, now the mayor of the city, but that night, accompanied by a servant and guarded by two Red Brands, he had appeared on the threshold of the door of your humble house: The guard was outmatched by the creatures, and the different factions did not agree in the decisions to be made. The mayor, trusting your new connection, had decided to leave the most important decisions up to you.</p>
        
        <div class="dialog">
            <figure><img alt="Harbin Wester token" src="/assets/imgs/tokens/harbin.png"></figure>
            <p><mat-icon>format_quote</mat-icon>Look... "Mage"... - he said, narrowing his eyes with an almost contemptuous gesture - you must know that the leaders of the council do not listen to reason, they are not willing to listen to anyone, least of all me... but they will listen a... Mage... What the Red Star say?<mat-icon>format_quote</mat-icon></p>
        </div>
        <p>The mystical <strong>Red Star</strong>. Only the Awake could see it. It was said that it whispered secrets to them, showed the future, revealed the truth. It was said that the Mages came into contact with it with different rituals, but nobody had taught you, what should use to reach it?</p>
        
        <app-question class="focus" [answer]="answers[0]" [name]="'focus'" [options]="questions[0]" (answerChange)="onAnswerChange($event, 0)"></app-question>

        <p>Where you strength was comming from?</p>

        <app-question class="focus" [answer]="answers[1]" [name]="'strength'" [options]="questions[1]" (answerChange)="onAnswerChange($event, 1)"></app-question>
        
    </ng-container>


    <ng-container *ngIf="step===2">

        <p *ngIf="answers[0]">{{questions[0][answers[0]].longDesc}}</p>

        <p>Distant, fleeting and elusive a vision crosses your mind. You concentrate, trying hard not to lose it, when suddenly you find yourself standing on a small hill, all around you you can see dilapidated buildings, as far as the eye can see, burning in blue flames. The wind carries a weak sound, which you cannot hear. You refuse to lose it, and twist reality with your will, so now you can hear the whisper:</p>
        <p><i><mat-icon>format_quote</mat-icon>And the last days will come, and the world will plunge into Dukkha, with Athelios in the day sky will marking the arrival.<mat-icon>format_quote</mat-icon></i> </p>

        <p>Then the voice becomes more intense and more sinister, carrying a loud noise like a scream in the wind: </p>
        <section class="poem">
            <p><i><mat-icon>format_quote</mat-icon>It's the night of sorrow and lost</i></p>
            <p><i>don't trust the black dragon</i></p>
            <p><i>let the music hide your steps</i></p>
            <p><i>but the crown confront the shadow<mat-icon>format_quote</mat-icon></i></p>
        </section>

        <p>The sound of the wind increases in power, to a thunderous roar, and for an instant in the shadows, illuminated by a reddish light, you catch a glimpse of a golden knight and a violet sorceress facing off against a dark horned creature. </p>
            
        <img class="red-star" src="/assets/imgs/red-star.png" alt="Red star">
        
        <p>You come back to yourself, still shaken and trembling with the force of the vision, the power of the words. Around you the Inner Council members mill around, their gazes questioning. Illuminating, in the sky, slowly a star of reddish light is covered by thick black clouds.</p>

        <p>The monsters begin to break through the north defenses, they say. All around you, the leaders of the five factions await for answers.</p>


    </ng-container>

    <ng-container *ngIf="step===3">
        <p>Five factions dominated the continent, and had presence in the Council of Phandel:</p>
        
        <section class="factions">
            <div class="faction" *ngFor="let faction of factions" (click)="selectFaction(faction)" [ngClass]="{'active': faction.active}">
                <img alt="banner" src="/assets/imgs/banners/{{faction.img}}">
                <p>{{faction.name}}</p>
            </div>            
        </section>
        <app-description [description]="selectedFaction.description"></app-description>
        <br><br>
        <p>You guide the the mayor and the council members through the different decisions.</p>

        <p>What strategy should the factions focus their efforts on?</p>
        <app-question [answer]="answers[2]" [name]="'strategy'" [options]="questions[2]" (answerChange)="onAnswerChange($event, 2)"></app-question>
    
        <ng-container *ngIf="answers[2] !== undefined">
            <p>Which faction should lead the {{questions[2][answers[2]].shortDesc}}?</p>
            <app-question [answer]="answers[3]" [name]="'faction lead'" [options]="questions[3]" (answerChange)="onAnswerChange($event, 3)"></app-question>
        </ng-container>
        
        <ng-container *ngIf="answers[3] !== undefined">
            <p>The creatures were beginning to ravage the city, which faction should stand at the vanguard confronting this creatures?</p>
            <app-question [answer]="answers[4]" [name]="'faction lead'" [options]="questions[4]" (answerChange)="onAnswerChange($event, 4)"></app-question>
        </ng-container>
        <ng-container *ngIf="answers[4] !== undefined">
            <p>It was impossible to protect the entire city, one of the districts had to be abandoned to their fate, which one?</p>
            <app-question [answer]="answers[5]" [name]="'faction lead'" [options]="questions[5]" (answerChange)="onAnswerChange($event, 5)"></app-question>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="step===4">
        <p>The arguments quickly died down to the sound of screaming and the clash of metal. The creatures began to breach the north wall, and they all obeyed your orders, after all nobody else could see through the Gauntlet, or blend Reality like you did.</p>
        <p>The {{factionLead}} troops were preparing to lead the {{strategy}}, and the {{vanguardFaction}} grouped his forces to resist the raids over the city districts, all but the {{fallenDistrict}}, where chaos, screams and death soon spread as the creatures advanced inexorably, destroying everything in their path.</p>

        <p>And you, accompanied by a small platoon of Red Brands, were escorted to the city hall, in the center of Phandel: from there you had access to the whole city, you had to resist.</p>
        <p>You were still very new to your powers, but releasing only small fractions here and there, burning only a little bit of your Quintessence, the square held.</p>
        
        <p *ngIf="answers[0] === 0">Closing your eyes for a moment in meditation, intoning a rapid psalmody and moving your hands in a circle, you suddenly conjured powerful spirits, of lightning, of the wind or of the earth, which, tearing the veil, appeared, shapeless and barely visible, and destroyed dozens of enemies, to disappear just as quickly.</p>
        <p *ngIf="answers[0] === 1">Clasping your hands in prayer, you intoned a quick litany to the gods, to grant you their light of justice, and extending the palm of your hand, a ray of pure light burned any monster that stood in its way.</p>
        <p *ngIf="answers[0] === 2">Reciting a quick incantation, as you traced the necessary runes rhythmically and precisely in the air with your hands, your eyes glowed gold as you sent forth huge flames of orange fire right and left, consuming the creatures with savage screams.</p>
        <p *ngIf="answers[0] === 3">Kneeling on the ground, and with a quick cut in your hand you had drawn a circle with the blood that oozed from the wound, and from that circle had emerged three terrible creatures 20 feet tall, without a head, multiple tentacular eyes and sharp claws. , who had launched themselves to tear apart the attackers.</p>

        <p>But there were too many, simply too many... and each one that fell was replaced by two more who stormed the square ready to fight... Soon the conclusion was so obvious that it hit you like a slap in the face:</p>
        <p><strong>Phandel was lost...</strong> </p>
        <p>The only thing you could do is hold on a little longer, so that as many people as possible could be saved. You looked up, at the handful of soldiers from the various factions still holding out. You had to select who would stay with you for the final stand: A shot at glory, maybe, but maybe you also selected them to die.</p>

    </ng-container>
</section>

