.selection-display
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 100%
  h2
    color: #2B4162
    font-size: 28px
    letter-spacing: 1.57px
    line-height: 42px
    text-align: center
    text-transform: uppercase
  .selected
    align-content: stretch
    display: flex
    gap: 20px
    height: 140px
    width: 100%

    .points
      align-items: center
      align-self: center
      background-color: #2B4162
      border-radius: 4px
      color: white
      display: flex
      flex-direction: column
      flex: 0 0 60px
      height: 100%
      justify-content: center

      p
        font-size: 48px
    .characters
      background-color: white
      border-radius: 8px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      flex: 1 1 auto
      gap: 8px
      justify-content: center
      padding: 4px 0
      user-select: none
      .character
        width: 60px
        height: 60px
      .empty
        margin-top: 20px
        color: #777777


