<div class="selection-display">
  <h2>Selected</h2>
  <section class="selected">
    <section class="points">
      <p>{{selectedPoints}}</p>
      <label>Points</label>
    </section>
    <section class="characters">
      <p class="empty" *ngIf="selectedCharacters?.length === 0">Select your troops</p>
      <div class="character" *ngFor="let character of selectedCharacters">
        <img width="60" height="60" alt="character-img" src="assets/imgs/characters/{{character.img}}">
      </div>
  </section>
  </section>
 
</div>